
.margin10 {
    margin:10px;
}

.profile-title {
    font-family: roboto, sans-serif;
    margin-bottom: 0px;
}

.profile-image {
    margin-bottom: 10px;
}

.head-buffer {
    height: 10px;
}

.base-buffer {
    height: 10px;
}

.intro {
    margin-top: 10px;
    background-color: #f0f0f0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    padding: 5px;
    width: 100%;
}

.outer-link {
    font-size: 12px;
}

.badge-symbol {
    width: 32px;
    /* 좁은 넓이로 볼 떄 줄바뀜되면 여백을 만들어 주기 위함 */
    margin-bottom: 8px;
}

@media ( min-width : 768px) {
    .head-buffer {
        height: 30px;
    }
    .base-buffer {
        height: 20px;
    }
    .outer-link {
        font-size: 14px;
    }
}